@model CarRentalService.Domain.Models.RentParams

@{
    ViewData["Title"] = "Edit";
}


<h4>RentParams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MinimumDaysForRent" class="control-label">Minimum days for reservation</label>
                <input asp-for="MinimumDaysForRent" class="form-control" />
                <span asp-validation-for="MinimumDaysForRent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage" class="control-label"> Discount percantage</label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalFees" class="control-label">Additional fees</label>
                <input asp-for="AdditionalFees" class="form-control" />
                <span asp-validation-for="AdditionalFees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Cars" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
